@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

ews-button,
ews-text,
ews-counter,
ews-ip-address,
ews-to-num,
ews-progress-bar,
ews-textarea,
ews-context,
ews-anchor,
ews-day,
ews-timer,
ews-finder,
ews-dt,
ews-script,
ews-about {
    font-family: 'Ubuntu', sans-serif;
}

ews-button {
    background: rgb(11, 133, 214);
    border-radius: 5px;
    padding: 7px;
    cursor: pointer;
    display: flex;
    width: 10rem;
    word-break: break-all;
    justify-content: center;
    align-items: center;
    margin: 5px 0 5px 0;
    transition: background 200ms;
}

ews-button:hover {
    background: rgb(9, 122, 197);
}

ews-text {
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 7px;
    width: 3in;
    height: 1.1rem;
    display: flex;
    outline: none;
    overflow-x: auto;
    margin: 4px 0 4px 0;
}

ews-text::-webkit-scrollbar {
    height: 0;
}

ews-to-num {
    display: inline-flex;
}

ews-checkbox {
    border: 1px solid #bbb;
    border-radius: 5px;
    width: 14px;
    height: 14px;
    display: flex;
    cursor: pointer;
    font-size: 10px;
    justify-content: center;
    align-items: center;
    user-select: none;
    color: #fff;
    transition: background 200ms;
}

ews-progress-bar {
    border: 1px solid #bbb;
    border-radius: 5px;
    display: block;
    width: 3in;
    height: 1.5rem;
    margin: 3px 0 3px 0;
    overflow: hidden;
}

ews-progress-bar div {
    background: rgb(11, 133, 214);
    height: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: width 200ms;
}

ews-textarea {
    border: 1px solid #bbb;
    border-radius: 5px;
    display: block;
    padding: 7px;
    overflow: auto;
    width: 3in;
    height: 1.5in;
    resize: both;
    outline: none;
}

ews-text:empty::before,
ews-textarea:empty::before {
    content: attr(placeholder);
    color: #808080;
    cursor: text;
}

ews-textarea::-webkit-scrollbar {
    width: 7px;
}

ews-textarea::-webkit-scrollbar-corner {
    background: #000;
    border-radius: 5px;
}

ews-context {
    border: 1px solid #bbb;
    border-radius: 5px;
    position: fixed;
    padding: 4px;
    background: #121212;
    cursor: default;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    z-index: 9999;
}

ews-context.active {
    opacity: 1;
    pointer-events: all;
    transition: opacity 200ms;
}

ews-context option {
    padding: 3px 8px;
    border-radius: 5px;
    transition: background 200ms;
}

ews-context option:hover {
    background: #1e1e1e;
}

ews-anchor {
    color: rgb(11, 133, 214);
    cursor: pointer;
    display: block;
    width: max-content;
}

ews-anchor:hover {
    color: rgb(9, 122, 197);
}

ews-anchor .url {
    position: fixed;
    color: #bbb;
    background: #121212;
    border: 1px solid #bbb;
    border-radius: 5px;
    padding: 7px 10px;
    width: max-content;
    pointer-events: none;
    user-select: none;
    font-size: 12px;
    z-index: 9999;
}

ews-counter,
ews-ip-address,
ews-dt,
ews-day,
ews-timer,
ews-img-glr,
ews-bing-img,
ews-ap,
.ews-ddm,
ews-charts,
ews-collapsible,
ews-sort {
    display: block;
}

ews-finder input {
    outline: none;
    background: #1e1e1e;
    border-radius: 5px;
    border: 1px solid #bbb;
    padding: 7px;
    width: 3in;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
}

ews-ap {
    border-radius: 100px;
    background-color: #1e1e1e;
    padding: 15px;
    max-width: 2.5in;
    display: inline-flex;
}

ews-ap button {
    border: none;
    border-radius: 10px;
    padding: 7px;
    background-color: rgb(11, 133, 214);
    cursor: pointer;
    color: #fff;
    transition: background 200ms;
}

ews-ap button:hover {
    background-color: rgb(9, 122, 197);
}

ews-ap #range-container {
    position: relative;
    width: 2.4in;
    height: 10px;
    background-color: #ddd;
    border-radius: 5px;
    margin: 10px 7px;
}

ews-ap #thumb {
    position: absolute;
    top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(11, 133, 214);
    cursor: pointer;
}

ews-ap #track {
    position: absolute;
    left: 0;
    height: 100%;
    background-color: rgb(9, 122, 197);
    border-radius: 5px;
}

.ews-ddm {
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: #121212;
    max-width: 2in;
    cursor: pointer;
    margin: 5px 0 5px 0;
    transition: background 200ms;
}

.ews-ddm:hover {
    background-color: #1e1e1e;
}

.ews-ddm-options {
    font-family: 'Ubuntu', sans-serif;
    padding: 7px;
    border: 1px solid #bbb;
    border-radius: 8px;
    background-color: #121212;
    min-width: 2in;
    position: absolute;
    opacity: 0;
    transition: opacity 200ms;
}

.ews-ddm-option {
    padding: 7px;
    cursor: pointer;
    border-radius: 8px;
    transition: background 200ms;
}

.ews-ddm-option:hover {
    background-color: #1e1e1e;
}

ews-charts div {
    display: flex;
    align-items: center;
    padding-left: 7px;
    margin: 5px 5px 5px 0;
    border-radius: 8px;
    font-family: 'Ubuntu', sans-serif;
}

ews-collapsible {
    font-family: 'Ubuntu', sans-serif;
}

ews-collapsible .collapsible-heading {
    color: rgb(11, 133, 214);
    cursor: pointer;
    width: max-content;
}

ews-collapsible .collapsible-heading:active {
    color: rgb(9, 122, 197);
}

ews-collapsible .collapsible-content {
    background-color: #1e1e1e;
    border-radius: 8px;
    padding: 7px;
    max-width: 2in;
    overflow: hidden;
    margin: 5px 0 5px 0;
    transition: max-height 200ms ease-in-out;
}

ews-collapsible .collapsible-content * {
    padding: 5px;
}

ews-sort {
    background-color: #1e1e1e;
    border-radius: 8px;
    max-width: 2in;
    padding: 7px;
    position: relative;
    font-family: 'Ubuntu', sans-serif;
}

ews-sort * {
    padding: 7px;
}

ews-sort select {
    background-color: #282828;
    border-radius: 8px;
    color: #fff;
    position: absolute;
    right: 6px;
    top: 6px;
    outline: none;
}

ews-about {
    background: #121212;
    border-radius: 10px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: 5in;
    overflow-y: scroll;
    padding: 7px;
    margin: 5px 0 5px 0;
    box-shadow: 0 0 0 5000px rgba(0, 0, 0, .7);
    pointer-events: all;
    user-select: text;
    transition: opacity 200ms;
    z-index: 999;
}

ews-about div {
    padding: 3px;
}

ews-about div a {
    color: rgb(11, 133, 214);
    text-decoration: none;
}

ews-about div a:hover {
    text-decoration: underline;
}

ews-about div a:active {
    color: rgb(9, 122, 197);
}

ews-about .code {
    background: #1e1e1e;
    border-radius: 5px;
    padding: 7px;
}

ews-about a {
    color: rgb(11, 133, 214);
    text-decoration: none;
}

ews-about a:hover {
    text-decoration: underline;
}

ews-about .close {
    font-weight: bold;
    cursor: pointer;
    border: 1px solid #bbb;
    border-radius: 50%;
    color: #bbb;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    font-size: 14px;
    user-select: none;
    transition: background 200ms;
}

ews-about .close:hover {
    background: #bbbbbb1a;
}

ews-about .close::after {
    content: 'ESC';
    position: absolute;
    top: 37px;
    font-size: 10px;
    pointer-events: none;
}

ews-about::-webkit-scrollbar {
    width: 7px;
}

ews-about::-webkit-scrollbar-thumb,
ews-textarea::-webkit-scrollbar-thumb {
    background: #1e1e1e;
    border-radius: 5px;
}

ews-about::-webkit-scrollbar-thumb:hover,
ews-textarea::-webkit-scrollbar-thumb:hover {
    background: #282828;
}